<h2><img class="wp-image-361 size-medium alignleft"
        src="assets/images/brandon-300x297.jpg"
        alt="" width="300" height="297" />About me</h2>
<p>My name is Brandon, I’ve been interested in computers since I was 13, and have taught myself various programming
    languages and scripting languages over the years including C#, Java, Visual Basic, VoiceXML, PHP, MySQL, HTML, CSS,
    JavaScript, Delphi (Pascal), C, and C++. I’ve also experimented with graphic design, web design, and Linux server
    administration. I also know my way around the inside of a computer and have built and repaired more computers than I
    can count, troubleshooted bad components, and removed troublesome malware.</p>
<p>I&#8217;m currently employed at a consulting company working on a project that involves rewriting a Python back-end
    system into .NET Core, ASP.NET Core, and EntityFramework (backed by PostgreSQL).</p>
<h2>About this site</h2>
<p>I started this site in 2003 with the intent of putting my creations and knowledge up on the internet. I also wanted
    to create a learning resource by posting programming examples, tutorials, and application code.</p>
<h2>Programming Languages</h2>
<table>
    <tbody>
        <tr>
            <th width="150">Skill Level</th>
            <th>Languages</th>
        </tr>
        <tr>
            <td>Expert</td>
            <td> C#, Visual Basic 6, VB.NET, PHP (7.x), MySQL, HTML5, XHTML, XML, CSS3, JavaScript, VoiceXML</td>
        </tr>
        <tr>
            <td>Intermediate</td>
            <td> Java, Pascal, C</td>
        </tr>
        <tr>
            <td>Beginner</td>
            <td>Z80 Assembly, 6502 Assembly, x86 Assembly, Tcl/Tk, Perl, Python</td>
        </tr>
    </tbody>
</table>
<h2>Operating Systems</h2>
<ul>
    <li><img class="alignnone wp-image-338 size-full"
            src="assets/images/social_windows_box.png" alt="social_windows_box"
            width="16" height="16" /> Windows 95/98/Me/2000/XP/7/8/8.1/10</li>
    <li><img class="alignnone size-full wp-image-337"
            src="assets/images/apple.png" alt="apple" width="16" height="16" />
        Mac OS X 10.6/10.7/10.8/10.9</li>
    <li><img class="alignnone size-full wp-image-336"
            src="assets/images/tux.png" alt="tux" width="16" height="16" />
        CentOS (Red Hat), Debian, Ubuntu, and other Linux variants.</li>
</ul>
<h2>Languages</h2>
<ul>
    <li>English</li>
    <li>Russian (Elementary &#8211; Currently teaching myself.).</li>
</ul>