<nav id="site-navigation" class="main-navigation">
  <div class="inside-navigation grid-container grid-parent">
      <div id="primary-menu" class="main-nav">
          <ul id="menu-main" class=" menu sf-menu">
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/about/">About</a></li>
            <li><a routerLink="/reviews/">Reviews</a></li>
            <li><a routerLink="/contact/">Contact</a></li>
            <li><a routerLink="/sourcecode-archives/">Sourcecode</a></li>
            <li><a routerLink="/snippets/">Snippets</a></li>
            <li><a routerLink="/tutorials/">Tutorials</a></li>
          </ul>
        </div>
  </div>
</nav>